/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f9;
}

a{
  text-decoration: none;
  color: inherit;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-paginator {

    mat-paginator {
    margin-top: 20px; 
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    color: #1e3a8a;
    font-weight: bold;
    }

  .mat-mdc-paginator-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
